@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Play", sans-serif;
  line-height: 1.42;
  color: #292929;
}

.wrapper {
  min-height: 100%;
  min-width: 960px;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

p {
  margin-top: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.hero {
  height: 100vh;
  min-height: 652px;
  background: url(../img/bg/headphones.png) right 16% center no-repeat;
  background-color: #F5F5F5;
  position: relative;
}
.hero::after {
  content: "";
  width: 46px;
  height: 10px;
  background-color: #C4C4C4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  right: 11%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-bottom: 50px;
}

.hero__title-section {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 70px;
}

.hero__main-title {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.08;
  margin-bottom: 22px;
}

.hero__title-desc {
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 34px;
}

.hero__icons-section {
  line-height: 1.12;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  color: #292929;
  margin-right: 27px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  color: #E01F3D;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  text-decoration: none;
  font-size: 18px;
  margin-right: 26px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.phone-number:hover {
  color: #E01F3D;
}

.btn {
  display: block;
  padding: 15px 37px;
  background: #E01F3D;
  border-radius: 100px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #CA1B36;
}

.features, .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature {
  width: 166px;
  min-height: 56px;
  margin-right: 10px;
}
.feature:last-child {
  margin-right: 0;
}

.feature__icon {
  margin-right: 11px;
  width: 49px;
  height: 49px;
}

.section {
  height: 100vh;
  min-height: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.section__subtitle {
  color: #666;
  text-align: center;
  line-height: 1.16;
  padding: 0 20%;
}

.headline-section {
  position: relative;
}
.headline-section .section__title {
  margin-bottom: 10px;
}
.headline-section .section__subtitle {
  margin-bottom: 62px;
}
.headline-section::before {
  content: "";
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-bottom-width: 34px;
  border-bottom-color: #E01F3D;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  position: absolute;
  top: 94%;
  left: 5%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 6%;
  position: relative;
}
.benefits__item::before {
  content: url(../img/icons/shapes.svg);
  position: absolute;
  left: 97%;
  top: 21%;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  width: 276px;
  text-align: center;
}

.benefit__img {
  margin-bottom: 22px;
}

.benefit__img-wrapper {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 3px;
}

.benefit__desc {
  color: #666;
  line-height: 1.16;
}

.reviews-section {
  position: relative;
}
.reviews-section .section__title {
  margin-bottom: 24px;
}
.reviews-section::before {
  content: "";
  width: 35px;
  height: 35px;
  background: #868686;
  border-radius: 50%;
  position: absolute;
  top: 97%;
  left: 5%;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -61px;
}

.reviews__avatar {
  height: 264px;
  width: 253px;
}

.reviews__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 29px 100px 18px 38px;
}

.reviews__title {
  font-weight: 700;
  font-size: 24px;
}

.reviews__text {
  color: #666;
  line-height: 1.21;
  margin-bottom: 36px;
}

.reviews__author {
  font-weight: 700;
  font-size: 18px;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__switcher-item {
  margin-right: 5px;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
.interactive-avatar_active {
  border-color: #E01F3D;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}