$containerWidth: 940px;
$baseFontSize: 16px;

// color
$light: #F5F5F5;
$red: #E01F3D;
$grey: #666;
$black: #292929;

// normalize
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

// setup
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import 'layout';

//components
@import 'components/hero';
@import 'components/header';
@import 'components/menu';
@import 'components/phone-number';
@import 'components/btn';
@import 'components/features';
@import 'components/section';
@import 'components/headline-section';
@import 'components/benefits';
@import 'components/reviews-section';
@import 'components/interactive-avatar';
@import 'components/order-section';