.fixed-menu {
  position: fixed;
  top: 31%;
  right: 4%;
  color: $grey;

  .fixed-menu__item.active {
    color: $red;

    .fixed-menu__link {
      border-color: currentColor;
    }
  }

  @include tablet {
    display: none;
  }
}

.fixed-menu.light {
  color: #fff;

  .fixed-menu__item.active {
    color: currentColor;

    .fixed-menu__link:hover {
      border-color: currentColor;
    }
  }
}

.fixed-menu__item {
  margin-bottom: 5px;
}

.fixed-menu__link {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  transition: border-color .1s;

  &:hover {
    border-color: currentColor;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: currentColor;
    transition: background-color .1s;
  }
}