.hero-section {
  @media (min-width: 768px) {
    background-image: url(./img/bg/headphones.png);
    background-position: right 16% center;
    background-repeat: no-repeat;
  }

  background-color: $light;
  position: relative;

  &::after {
    content: "";
    width: 46px;
    height: 10px;
    background-color: #C4C4C4;
    transform: rotate(-45deg);
    position: absolute;
    right: 11%;
    top: 99%;
  }
}

.hero-section__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 50px;
}

.hero-section__main {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 70px;

  @include tablet {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
      content: "";
      width: 323px;
      height: 323px;
      background: url(./img/content/headphones.png) center center / contain no-repeat;
      margin-bottom: 45px;
    }
  }
}

.hero-section__title {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.08;
  margin-bottom: 22px;

  @include tablet {
    padding: 0 6%;
  }

  @include phone {
    font-size: 37px;
  }
}

.hero-section__subtitle {
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 34px;

  @include tablet {
    padding: 0 19%;
    margin-bottom: 28px;
  }
}

.hero-section__icons {
  line-height: 1.12;

  @include tablet {
    display: none;
  }
}