.phone-number {
  text-decoration: none;
  white-space: nowrap;
  font-size: 18px;
  transition: color .3s;

  &:hover {
    color: $red;

    .phone-number__icon {
      fill: $red;
    }
  }
}

.phone-number__icon {
  transition: fill .3s;
}