.player {
  width: 100%;
  height: 100%;
  position: relative;

  &.active {
    .player__start-icon {
      display: none;
    }

    .player__start-icon_active {
      display: inline;
    }

    .player__splash {
      display: none;
    }
  }
}

.player__wrapper {
  height: 100%;
}

.player__elem {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./img/content/splashscreen.png) center center/cover no-repeat;
  cursor: pointer;

  .player__splash-button {
    position: absolute;
    fill: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  background: #151515;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5%;
  color: #fff;
  font-weight: 700;
}

.player__start {
  position: relative;
  width: 11px;
  height: 18px;
  fill: #fff;
}

.player__start-icon_active {
  display: none;
}

.player__playback {
  height: 16px;
  position: relative;
  flex: 1;
  margin: 0 15px;
  cursor: pointer;

  &:before {
    content: "";
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #333;
    border-radius: 1px;
    display: block;
    transform: translateY(-50%);
  }
}

.player__playback-button {
  background: $red;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}