.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__display {
  width: 100%;
  min-height: 348px;
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 14px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -61px;

    @include phone {
      display: none;
    }
  }

  @include tablet {
    text-align: center;
    margin-bottom: 30px;
  }
}

.reviews__item {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;

  &.active {
    opacity: 1;
    position: static;
    pointer-events: auto;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.reviews__avatar {
  height: 264px;
  width: 253px;

  @include tablet {
    height: 130px;
    width: 130px;
  }
}

.reviews__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.reviews__content {
  flex: 1;
  padding: 3% 12% 2% 4%;

  @include tablet {
    padding-right: 4%;
    padding-bottom: 0;
  }

  @include phone {
    padding-left: 0;
    padding-right: 0;
  }
}

.reviews__title {
  font-weight: 700;
  font-size: 24px;
}

.reviews__text {
  color: $grey;
  line-height: 1.21;
  margin-bottom: 36px;

  @include tablet {
    margin-bottom: 0;
  }
}

.reviews__author {
  font-weight: 700;
  font-size: 18px;
}

.reviews__switcher {
  display: flex;
}

.reviews__switcher-item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}