.social {
  display: flex;
}

.social__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: #B3B3B3;
  transition: fill .3s;

  &:hover {
    fill: #000;
  }
}