$containerWidth: 940px;
$baseFontSize: 16px;

// colors
$light: #F5F5F5;
$red: #E01F3D;
$grey: #666;
$black: #292929;

// breakpoints
$tablet: 768px;
$phone: 480px;

// media
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $phone) {
    @content;
  }
}