.benefits-section {
  .section__title {
    margin-bottom: rem(10px);

    @include phone {
      font-size: rem(35px);
    }
  }

  .section__subtitle {
    margin-bottom: rem(62px);

    @include phone {
      margin-bottom: rem(30px);
    }
  }
}