.features,
.feature {
  display: flex;
  align-items: center;
}

.feature {
  max-width: rem(166px);
  min-height: rem(56px);
  margin-right: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  margin-right: rem(11px);
  width: rem(49px);
  height: rem(49px);
}