.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #313131;
  z-index: 100;
  overflow: hidden;
}

.fullscreen-menu__close {
  position: absolute;
  top: rem(45px);
  right: rem(45px);
}

.fullscreen-menu__close-icon {
  color: #fff;
  width: rem(20px);
  height: rem(20px);
  opacity: .7;
}

.fullscreen-menu.active {
  display: flex;
}