.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: rem(24px) 0;
}

.header__phone-number {
  margin-right: rem(26px);
  padding-top: rem(10px);

  @include tablet {
    display: none;
  }
}