.headline-section {
  position: relative;
  .section__title {
    margin-bottom: 10px;
  }
  .section__subtitle {
    margin-bottom: 62px;
  }
  &::before {
    content: "";
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-bottom-width: 34px;
    border-bottom-color: $red;
    transform: rotate(-13deg);
    position: absolute;
    top: 94%;
    left: 5%;
  }
}