.hero-section {
  background: url(../img/bg/headphones.png) right 16% center no-repeat;
  background-color: $light;
  position: relative;

  &::after {
    content: "";
    width: rem(46px);
    height: rem(10px);
    background-color: #C4C4C4;
    transform: rotate(-45deg);
    position: absolute;
    right: 11%;
    top: 99%;
  }

  @include tablet {
    background: $light;
  }
}

.hero-section__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: rem(50px);
}

.hero-section__main {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: rem(70px);

  @include tablet {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
      content: "";
      width: rem(323px);
      height: rem(323px);
      background: url(../img/content/headphones.png) center center / contain no-repeat;
      margin-bottom: rem(45px);
    }
  }
}

.hero-section__title {
  font-weight: 700;
  font-size: rem(48px);
  text-transform: uppercase;
  line-height: 1.08;
  margin-bottom: rem(22px);

  @include tablet {
    padding: 0 6%;
  }

  @include phone {
    font-size: 32px;
  }
}

.hero-section__subtitle {
  font-size: rem(21px);
  line-height: 1.2;
  margin-bottom: rem(34px);

  @include tablet {
    padding: 0 19%;
    margin-bottom: rem(28px);
  }
}

.hero-section__icons {
  line-height: 1.12;

  @include tablet {
    display: none;
  }
}