.menu {
  margin: 0 rem(30px);
  padding-top: rem(10px);

  @include tablet {
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu__item {
  color: $black;
  margin-right: rem(27px);
  transition: color .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $red;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}