.phone-number {
  text-decoration: none;
  white-space: nowrap;
  font-size: rem(18px);
  margin-right: rem(26px);
  padding-top: rem(10px);
  transition: color .3s;

  &:hover {
    color: $red;
  }
}