.reviews-section {
  position: relative;

  .section__title {
    margin-bottom: rem(24px);
  }

  &::before {
    content: "";
    width: rem(35px);
    height: rem(35px);
    background: #868686;
    border-radius: 50%;
    position: absolute;
    top: 98%;
    left: 7%;
  }
}