.social {
  display: flex;
}

.social__item {
  margin-right: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  color: #B3B3B3;
  transition: color .3s;

  &:hover {
    color: #000;
  }
}